<section class="full-width dark-bg clearfix email-signup-home">  	
  
  	<div class="container clearfix mailLeft">
      	
        <div class="mailchimp footer-section">
      		<p class="txt_g2">填寫電子郵件以獲得最新消息和活動！</p>

            <div id="mc_embed_signup">
            	<form action="https://bezalel.us3.list-manage.com/subscribe/post?u=a9e2286dbf420c658cd5beaf0&amp;id=42e798de97" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  
	                <div id="mc_embed_signup_scroll">
                      
                    	<div class="mailchimp-wrap">
                			<div class="mc-field-group">
                    			<input type="email" value=""  onfocus="this.placeholder = ''" onblur="this.placeholder = ''" name="EMAIL" class="required email" id="mce-EMAIL">
                			</div>
							
                			<div id="mc-embedded-subscribe-wrap">
                          		<input type="submit" value="" name="subscribe" id="mc-embedded-subscribe" class="button">
                        	</div>
							<!--
							 <input type="image" class="mail-arror" src="https://cdn.shopify.com/s/files/1/1403/9023/files/3_55b93d89-0421-4df5-8361-6125515b5c26.png?v=1691480891" alt="Submit">
                          -->
                		</div>
                      
                 		<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                		<div style="position: absolute; left: -5000px;" aria-hidden="true">
                  			<input type="text" name="b_a9e2286dbf420c658cd5beaf0_42e798de97" tabindex="-1" value="">
                		</div>
                      
                	</div>
            	</form>
            </div>
          
			<script type='text/javascript' src='https://cdn.shopify.com/s/files/1/1403/9023/files/mc-validate.js?v=1690878006'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[3]='COMPANY';ftypes[3]='text';fnames[5]='PHONE';ftypes[5]='phone';fnames[6]='ADDRESS';ftypes[6]='address';fnames[10]='MMERGE10';ftypes[10]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      </div>
  	</div>

	<!--右邊小圖區域-->
	<div class="container clearfix mailRight" >
      	
        <div class="mailchimp footer-section">
      		<p class="txt_g2 follow">追蹤我們</p>

            <div class="newlittleIcon">
				<a href="https://page.line.me/667jjfhr?openQrModal=true"  >
            		<img src="{{ 'Line-W.png' | asset_url }}">
				</a>
				<a href="https://www.instagram.com/bezalel.tw/" >
            		<img src="https://cdn.shopify.com/s/files/1/1403/9023/files/IG-W.png?v=1691046329">
				</a>
				<a href="https://www.facebook.com/BEZALEL.CO" >
            		<img src="https://cdn.shopify.com/s/files/1/1403/9023/files/FB-W.png?v=1691046329">
				</a>
            </div>			
      </div>
  	</div>
</section>

<style>
  .mailchimp-wrap #mce-EMAIL{
    background-color:#FFF;
  }

  .container.clearfix.mailLeft{
    background-color: #454549;
  }

  .container.clearfix.mailRight{
        background-color: #454549;
  }
</style>
