  <section class="relative md:pb-16 pb-4  overflow-hidden">
    <image class=" mx-auto" src="{{ 'banner7.png'|file_url }}"></image>
    <div class="md:grid flex gap-4 md:grid-cols-3 md:gap-32 py-8">
      <div class="rounded-lg relative -left-[15px] col-start-1 hidden md:block">
        <image src="{{ 'banner8.png'|file_url }}"></image>
      </div>
      <div class="rounded-lg col-span-2 flex flex-col justify-center md:gap-8  gap-4 lg:max-w-[80%] items-center md:items-start max-w-[90%] !mx-auto">
           <h2 class="font-heading text-4xl xs:text-5xl sm:text-6xl md:text-7xl font-extrabold text-black tracking-tight md:mb-6">完美充電 無線生態</h2>
          <p class="text-xl text-black md:w-[70%] w-[90%]">與 Prelude X MagSafe 完美融合，最大化充電效率，無線磁吸車充搭配無線行動電源，從出發到抵達，打造無縫接軌的充電體驗</p> 
          <image class="hidden md:block" src="{{ 'RD_Logo.png'|file_url }}" width="92" height="50"></image>    
      </div>
    </div>
  </section>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}