  <section class="relative pb-16  overflow-hidden">
    <div class="mt-12 max-w-2xl mx-auto px-4">
      <image class=" mx-auto" src="{{ 'banner13.png'|file_url }}"></image>
      </div>
  </section>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}