<section class="relative pb-16 overflow-hidden md:mt-16 mt-8">
  <div class="mt-8 md:max-w-[70%] mx-auto px-4 ">
    <div class="relative">
      <div class="max-w-4xl mx-auto mb-8 text-center">
        <h2 class="font-heading text-4xl xs:text-5xl sm:text-6xl md:text-7xl font-extrabold text-black tracking-tight mb-6">
          支援 QC / PD3.0 高效輸出
        </h2>
        <p class="font-heading text-lg xs:text-xl sm:text-2xl md:text-3xl  text-black tracking-tight mb-6">
          飆速配備 | 85W 三孔車用快充頭
        </p>
      </div>
    </div>
  </div>
  <image class="md:max-w-[70%] rounded-xl mx-auto" src="{{ 'banner9.png'|file_url }}"></image>
  <div class="mt-8 max-w-3xl mx-auto px-4">
    <image class=" mx-auto hidden md:block" src="{{'banner10.png'|file_url }}"></image>
    <image class=" mx-auto md:hidden" src="{{ 'banner10_mobile.png'|file_url }}"></image>
  </div>
  <div class="mt-16 md:max-w-[70%] mx-auto px-4 ">
    <div class="relative mx-auto">
      <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-8 mx-auto">
        <div class="rounded-lg col-start-1">
          <image class="rounded-lg" src="{{ 'bb7c91b44870e6d7b9642473741c461e.gif'|file_url }}"></image>
        </div>
        <div class="rounded-lg  flex flex-col justify-center items-center">
          <p class="font-heading text-xl xs:text-2xl sm:text-3xl md:text-4xl  text-black tracking-tight font-bold">
            智慧自動分流
          </p>
          <p class="font-heading text-lg xs:text-xl sm:text-2xl md:text-3xl  text-black tracking-tight ">
            依照不同裝置, 提供相應充電瓦數
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}
