<section class="relative pb-8 bg-body overflow-hidden !bg-[#BF8D75]">
      <div class="mt-8 container mx-auto px-4 !bg-[#BF8D75]">
        <div class="relative !bg-[#BF8D75]">
          <div class="max-w-full mx-auto mb-16 text-center">
            <!-- <h2 class="font-heading text-4xl xs:text-5xl sm:text-6xl md:text-7xl font-medium text-white tracking-wider mb-6">$ 12,463,411</h2> -->
             <image class="w-full md:max-w-[80%] mx-auto" src="{{'12_463_411.gif' |file_url }}"></image>
             <p class="font-heading text-xl xs:text-2xl sm:text-3xl md:text-4xl  text-black tracking-tight font-bold xl:-mt-16">突破車用充電器募資紀錄</p>
             <p class="font-heading text-lg xs:text-xl sm:text-2xl md:text-3xl  text-black tracking-tight font-bold ">Omnia X MagSafe 車用磁吸無線充電器，超過 1,200 萬募資成績</p>       
          </div>
        </div>
        <image class=" mx-auto " src="{{ 'banner4.png'|file_url }}"></image>
      </div>
      
    </section>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}