<section class="bg-[#D9D9D9]">
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="lg:grid mx-auto">
      <div class="py-4 lg:py-8 mx-auto">
        <div class="grid grid-cols-1 md:gap-32 gap-16 sm:grid-cols-2 mx-auto">
          <div class="col-start-1">
            <p class="font-extrabold text-black mb-2">產品規格</p>
            <p class="font-extrabold text-black">Omnia X MagSafe 車用磁吸無線充電器</p>
            <ul class="mt-6 space-y-4 text-sm mb-6">
              <li>
                <p>USB-C 輸入：5V⎓3A , 9V⎓3A</p>
              </li>

              <li class="!mt-0">
                <p>輸出功率：</p>
                <p>• 無線輸出 1：5W／7.5W／10W／15W</p>
                <p>• 無線輸出 2：5W</p>
                <p>• 無線輸出 3：5W</p>
              </li>
              <li class="!mt-0">
                <p>支援：MagSafe 磁吸充電、Qi 無線充電</p>
              </li>
              <li class="!mt-0">
                <p>重量：136g</p>
              </li>

              <li class="!mt-0">
                <p>尺寸：</p>
                <p>68 × 68 × 139 mm（含內附支架）</p>
                <p>68 × 68 × 57.5 mm（不含內附支架）</p>
              </li>

              <li class="!mt-0">
                <p>內容物：</p>
                <p>• Omnia X MagSafe 車用磁吸無線充電器 × 1</p>
                <p>• 冷氣出風口夾 × 1</p>
                <p>• USB-C 充電線 × 1</p>
                <p>• User 使用說明書 × 1</p>
              </li>
            </ul>
            <p class="font-bold text-black !mt-8">85W 三孔快充車用充電器</p>

            <ul class="mt-6 space-y-4 text-sm">
              <li>
                <p>最大功率：85W Max</p>
              </li>

              <li class="!mt-0">
                <p>輸入：DC 12-24V⎓7.5A</p>
              </li>

              <li class="!mt-0">
                <p>單孔輸出：</p>
                <p>• USB-C1 輸出：5V⎓3A , 9V⎓3A , 12V⎓3A , 15V⎓3A , 20V⎓3.25A , PPS: 3.3-11V⎓5A</p>
                <p>• USB-C2 輸出：5V⎓3A , 9V⎓2.22A , 12V⎓1.67A</p>
                <p>• USB-A 輸出：5V⎓3A , 9V⎓2A , 12V⎓1.5A</p>
                <p>• USB-A + USB-C2 輸出：5V⎓3A</p>
              </li>

              <li class="!mt-0">
                <p>重量：43g</p>
              </li>

              <li class="!mt-0">
                <p>尺寸： 31 × 45 × 77 mm</p>
              </li>

              <li class="!mt-0">
                <p>內容物：</p>
                <p>• 85W 三孔快充車用器 × 1</p>
                <p>• User 使用說明書 × 1</p>
              </li>
            </ul>
          </div>

          <div>
            <p class="font-extrabold text-black mb-2 opacity-0">產品規格</p>
            <p class="font-bold text-black">吸盤式通用支架</p>
            <ul class="mt-6 space-y-4 text-sm mb-6">
              <li>
                <p>重量：107g</p>
              </li>

              <li class="!mt-0">
                <p>球軸尺寸：17 mm（公規尺寸）</p>
              </li>

              <li class="!mt-0">
                <p>材質：ABS、PC、矽膠墊</p>
              </li>

              <li class="!mt-0">
                <p>適用於：不挑車款，僅無法使用在絨布、布料材質。</p>
              </li>

              <li class="!mt-0">
                <p>內容物：吸盤式通用支架 × 1</p>
              </li>
            </ul>
            <p class="font-bold text-black !mt-8">Tesla 電動車出風口支架</p>

            <ul class="mt-6 mb-6 space-y-4 text-sm">
              <li class="!mt-0">
                <p>重量：43g</p>
              </li>

              <li class="!mt-0">
                <p>球軸尺寸：17 mm（公規尺寸）</p>
              </li>

              <li class="!mt-0">
                <p>材質：塑膠、矽膠、鋁合金</p>
              </li>

              <li class="!mt-0">
                <p>適用於：Tesla Model 3 與 Model Y 車型</p>
              </li>

              <li class="!mt-0">
                <p class="text-[#BF8D75]">* 2024 年Model 3 煥新版除外</p>
              </li>

              <li class="!mt-0">
                <p>內容物：電動車出風口支架 × 1</p>
              </li>
            </ul>

            <p class="font-bold text-black !mt-8">圓形出風口專用支架</p>

            <ul class="mt-6 space-y-4 text-sm">
              <li class="!mt-0">
                <p>重量：29g</p>
              </li>

              <li class="!mt-0">
                <p>球軸尺寸：17 mm（公規尺寸）</p>
              </li>

              <li class="!mt-0">
                <p>材質：ABS、PC、矽膠墊</p>
              </li>

              <li class="!mt-0">
                <p>適用於：圓形出風口</p>
              </li>

              <li class="!mt-0">
                <p>內容物：圓形出風口支架 × 1</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}
