{% capture header_title %} {{ 'general.404.title' | t }} {% endcapture %}
<section class="full-width">
  	<div class="container container-top-padding clearfix">
  		<h1 class="display-title">Oops!</h1>
  	</div>
</section>

<div class="full-width">
  <div class="container container-bottom-padding clearfix">
    <h3>{{ 'general.404.subtitle' | t }}</h3>
	<a class="outline-btn general-cta" href="/collections/all">Continue Shopping</a>      
</div>
</div>