<section class="full-width page-header clearfix">
  	<div class="container container-padding">
  		<h1 class="display-title">BEZALEL Wireless Chargers<br>Compatible Devices</h1>
  	</div>
</section>

<section class="full-width align-left clearfix"> 
  	<div class="max-width-900 container container-bottom-padding">
        {{ page.content }}
  	</div>
</section>