<section class="full-width page-hero about-hero">
</section>

<section class="full-width white-bg overview-product-intro">  
	<div class="container container-padding max-width-600 clearfix">      
      	<h1 class="display-title"><span class="sr-only">BEZALEL 倍加能 | 無線充電</span>無線未來</h1>
      	<p class="space-m-b-0">我們致力於打造最高品質的無線充電體驗生態系統，透過領先業界的創新技術應用，BEZALEL倍加能的無線充電產品將自由與便利融入日常生活。</p>
  	</div>  
</section>

<section class="full-width">
	<div class="container">
      	<hr class="full-width-rule">
  	</div>
</section>

<section class="full-width white-bg product-design">
	<div class="container container-padding clearfix">
    	<h2 class="display-title">創造高品質產品</h2>
		<div class="grid">
          	<div class="grid__item one-third medium--one-whole small--one-whole">
              	<span class="module-icon seamless"></span>
				<h3>先進的技術</h3>
              	<p>在科技日新月異的現代，BEZALEL倍加能也不斷地研發與創新無線充電技術讓人人享有足夠的電力資源。首先，BEZALEL倍加能提供手機裝置卓越的無線充電技術，讓人們能夠自由便利的運用日常在生活中。</p>
          	</div>
          	<div class="grid__item one-third medium--one-whole small--one-whole">
              	<span class="module-icon craft"></span>
              	<h3>簡約設計</h3>
              	<p>從產品外觀就能看出 BEZALEL 設計的美感。優雅的線條、幾乎無感的輕盈重量、優秀的作工，這些特徵讓我們的產品具備獨特的 BEZALEL 風格。</p>
          	</div>
          	<div class="grid__item one-third medium--one-whole small--one-whole">
              	<span class="module-icon innovation"></span>
              	<h3 data-analytics-title="BEZALEL 倍加能 | 無線充電"><span class="sr-only">BEZALEL 倍加能 | 無線充電</span>完美的使用體驗</h3>
              	<p>BEZALEL希望藉由無線充電，帶給⼤眾在⽣活中體驗到充電上的⾃由。我們重視每個人的使用體驗、將每個流暢行動視為寶物，也是獲取更大突破的機會。</p>
          	</div>
      </div>
  	</div>
</section>

<section class="full-width page-hero about-hero-2">
</section>

<section class="full-width white-bg overview-product-intro">  
	<div class="container container-padding max-width-600 clearfix">
    	<h2 class="display-title"><span class="sr-only">BEZALEL 倍加能 | 無線充電</span>無線生活</h2>
      	<p>我們對電力的需求及依賴與日俱增，若缺乏穩定電源解決日常的充電問題，我們的自由度將會受限、便利性受阻，樂趣更是大打折扣。</p>
		<p>BEZALEL 相信無線生活的願景，屆時人人都能從擺脫電線感受到自由、便利與樂趣。為確保這個夢想能實現，我們提供最優質的無線充電產品，以及頂尖的無線充電生態系統。BEZALEL 最重視無線充電技術的進步、設計的簡約，以及完美的使用體驗。而為了特別著重這些因素，就要透過真正獨一無二的無線充電生態系統，實現民眾生活中的自由、便利與樂趣。</p>
  	</div>
</section>

<section class="full-width page-hero about-hero-3">
</section>

<section class="full-width white-bg overview-product-intro">  
	<div class="container container-padding clearfix">
    	<h2 class="display-title">歡迎加入我們!</h2>
      	<a class="outline-btn general-cta" href="/pages/careers" data-analytics-title="瀏覽工作機會">瀏覽工作機會</a>      
  	</div>
</section>