<div class="updates deals">
  
  <section class="full-width blog-hero deals">
      <div class="wrapper">
        <h2 style="text-transform:uppercase;">Limited Time Offer</h2>
        <h4>These outstanding price reductions are available for a limited time. Shop while supplies last!</h4>      
      </div>
	</section>
  
	<section class="full-width deals-products">
      
       	<div class="wrapper wrapper-padding wrapper--margins">
         
          	<div class="collection-list grid-uniform">
              
              
              	<div class="product grid__item one-third medium--one-half small--one-whole text-center">
            	
                  	<a class="grid__image" href="/products/latitude-wireless-case-iphone-6">
                      <img src="//cdn.shopify.com/s/files/1/1403/9023/products/Product_photo_Black_A_1_4836d907-6876-4e8f-8e59-0fb4d5bb631a_grande.jpg" />
                  	</a>
          		
                  	<h3><a href="/products/latitude-wireless-case-iphone-6">Latitude iPhone 6/6s Wireless Charging Case</a></h3>

  					<a href="/products/latitude-wireless-case-iphone-6" class="price">

      					<span style="text-decoration: line-through;color: #000;font-size: 18px;">$49.90</span>&nbsp;&nbsp;<span style="color: #2e71f0;font-size: 18px;">$24.95</span>
    
          			</a>
              
                	<a href="/products/latitude-wireless-case-iphone-6"><button class="price">Buy Now</button></a>
                      
      			</div>
              
              	<div class="product grid__item one-third medium--one-half small--one-whole text-center">
            	
                  	<a class="grid__image" href="/products/latitude-wireless-case-iphone-6?variant=28989636039">
                      	<img src="//cdn.shopify.com/s/files/1/1403/9023/products/Product_photo_Black_A_1_4836d907-6876-4e8f-8e59-0fb4d5bb631a_grande.jpg" />
                  	</a>
          		
                  	<h3><a href="/products/latitude-wireless-case-iphone-6?variant=28989636039">Latitude iPhone 6 Plus/6s Plus Wireless Charging Case</a></h3>

  					<a href="/products/latitude-wireless-case-iphone-6?variant=28989636039" class="price">

      					<span style="text-decoration: line-through;color: #000;font-size: 18px;">$59.90</span>&nbsp;&nbsp;<span style="color: #2e71f0;font-size: 18px;">$29.95</span>
    
          			</a>
              
                	<a href="/products/latitude-wireless-case-iphone-6?variant=28989636039"><button class="price">Buy Now</button></a>
                      
      			</div>
              
              
                <div class="product grid__item one-third medium--one-half small--one-whole text-center">
            	
                  	<a class="grid__image" href="/products/wireless-charger-prelude">
                      <img src="//cdn.shopify.com/s/files/1/1403/9023/products/Prelude_white_01_grande.jpg" />
                  	</a>
          		
                  	<h3><a href="/products/wireless-charger-prelude">Prelude Portable Wireless Charger</a></h3>

  					<a href="/products/wireless-charger-prelude" class="price">

      					<span style="text-decoration: line-through;color: #000;font-size: 18px;">$79.99</span>&nbsp;&nbsp;<span style="color: #2e71f0;font-size: 18px;">$59.99</span>
    
          			</a>
              
                	<a href="/products/wireless-charger-prelude"><button class="price">Buy Now</button></a>
                      
      			</div>
              
      		</div>
      </div>
      
  	</section>
</div>