<section class="full-width page-header clearfix">
  	<div class="container container-padding">
      	<h1 class="display-title">{{ page.title }}</h1>
  	</div>
</section>

<section class="full-width rte clearfix"> 
    <div class="container container-bottom-padding clearfix max-width-900">
    	{{ page.content }}
  	</div>
</section>



<style>
  .dropdown-item {
    border: none;
    text-align: center;
    padding: 70px;
  }

  .dropdown-item:hover {
    cursor: pointer;
  }

  .dropdown-item.active {
    background-color:#8E8E8E;
  }
  
/* 內容 */
  .last{
    padding-left:30px;
  }

/* 超連結 */
  .linkcolor{
    color:#ECF5FF;
  }
  .linkcolor:hover{
    color:#D2E9FF;
  }
</style>





<!-- 按按鈕 -->
<section class="full-width">
  <div style=" background-color:#F0F0EE;">
      <div class="row">
        <div class="col-md-4">
            <div class="dropdown-item accordion-animation" style="border: none;text-align: center;">
                <h3 class="bold" >安全性</h3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dropdown-item accordion-animation" style="border: none;text-align: center;">
                <h3 class="bold" >兼容性</h3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dropdown-item accordion-animation" style="border: none;text-align: center;">
                <h3 class="bold" >充電功率</h3>
            </div>
        </div>
        <!--下一列 -->
        <div class="col-md-4">
            <div class="dropdown-item accordion-animation" style="border: none;text-align: center;">
                <h3 class="bold" >概觀</h3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dropdown-item accordion-animation" style="border: none;text-align: center;">
                <h3 class="bold" >保固及退貨</h3>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dropdown-item accordion-animation" style="border: none;text-align: center;">
                <h3 class="bold" >寄送方式</h3>
            </div>
        </div>
    </div>
  </div>
</section>

<section class="full-width" style="background-color: #3C3C3C;color:white">
  <div class="container" style="margin-bottom: -20px;">
    <div class="support-description-container">
      <!--安全性 -->
      <div class="support-description" style="display: none; padding:50px">
          <h3>Q. 當手機進行無線充電時會稍微變熱，這是正常的嗎？</h3>
          <p class="last">是的，這是正常充電過程的現象，即使是用充電線充電也會有相同發熱現象。</p>
          <h3>Q. BEZALEL倍加能的充電產品是否可以安全使用？</h3>
          <p class="last">這是絕對沒有問題的。所有的充電產品皆符合國際無線充電標準，並僅發出非電離能量，這是無害的。</p>           
      </div>

      <!--兼容性 -->
      <div class="support-description" style="display: none; padding:50px">
          <h2>iPhone</h2><br>
            <h3>Q. BEZALEL倍加能的無線充電產品支援iPhone嗎？</h3>
            <p class="last">目前BEZALEL倍加能的無線充電產品皆支援蘋果iPhone 8之後推出的iPhone產品（包含iPhone8）、 iPhone 6, 7 因手機本身不支援無線充電，所以需另外購買無線充電手機殼。<br /> 請參考 <!--<a href="https://bezalel.co/pages/latitude-overview">/BEZALEL wireless charging receiver case </a>--><a href="/collections/%E6%89%8B%E6%A9%9F%E6%AE%BC" title="BEZALEL倍加能手機殼" class="linkcolor">BEZALEL倍加能手機殼</a>。</p>
            <h3>Q. 如果我的手機有安裝自己的手機殼，可以使用BEZALEL倍加能的無線充電產品嗎？</h3>
            <p class="last">經過我們大量的測試與案例分析，BEZALEL倍加能的無線充電產品與大部分市面上的手機殼是可兼容的，但由於手機殼的構造與材質些許會影響無線供電功能。<br /> 請參考 <a href="https://bezalel.co/blogs/bezalel-blog/phone-cases-accessories-to-avoid-for-wireless-charging-1" target="_blank" title="Compatibility information regarding phone cases" rel="nofollow noopener noreferrer" class="linkcolor">Click here for compatibility information regarding phone cases</a>.</p>
          <br>
        
          <h2>Samsung</h2><br>
            <h3>Q. BEZALEL倍加能的無線充電產品支援Samsung嗎？</h3>
            <p class="last">目前Samsung有支援無線充電的智慧型手機皆可搭配BEZALEL倍加能的無線充電產品，例如 Samsung Galaxy S系列( S6以上)以及Samsung Galaxy Note系列( Note 8以上)。</p>
          <br>
        
          <h2>其他品牌手機</h2><br>
            <p class="last">如果您的手機本身有支援Qi無線充電功能，即可使用BEZALEL倍加能的無線充電產品，隨開即用 。但有些手機可能則需要搭配無線充電接收外殼。</p>
          <br>
        
          <h2>Car</h2><br>
            <h3>Q. BEZALEL倍加能的無線充電接收外殼可以使用於汽車內建無線充電嗎？</h3>
            <p class="last">可以的！BEZALEL倍加能的無線充電接收外殼基本上是可以與汽車製造商提供的內置無線充電 座配合使用，包括BMW寶馬、Mini Cooper、Mercedes-Benz奔馳、Hyundai現代、Honda本田、Toyota豐田和Lexus雷克薩斯等。另外要注意的是，由於手機機身大小的緣故，有些車款內建的手機無線充電的放置空間，可能會使手機充電時無正確接觸充電板，導致無法無線充電，還請使用者留意。</p>
            <p class="last">請參考以下資料說明：<br /> 
              <a href="https://bezalel.co/blogs/bezalel-blog/85682054-how-to-use-latitude-universal-iphone-6-6s-wireless-charging-case-with-gm-wireless-charging-pads-in-car-wireless-chargers" title="information and user instructions for GM (Chevrolet/GMC) vehicles." target="_blank" rel="nofollow noopener noreferrer" class="linkcolor" >User instructions for GM (Chevrolet/GMC) vehicles</a>.<br />
              <a href="https://bezalel.co/blogs/bezalel-blog/how-to-use-the-latitude-iphone-6-6s-universal-wireless-charging-case-with-your-cadillac-vehicle-s-in-car-wireless-charger" title="information and user instructions for Cadillac vehicles." target="_blank" rel="nofollow noopener noreferrer" class="linkcolor">User instructions for Cadillac vehicles</a>.<br />
              <a href="https://bezalel.co/blogs/bezalel-blog/how-to-use-the-latitude-iphone-6-6s-universal-wireless-charging-case-with-your-toyota-vehicle-s-in-car-wireless-charger" title="information and user instructions for Toyota vehicles." target="_blank" rel="nofollow noopener noreferrer" class="linkcolor">User instructions for Toyota vehicles</a>.<br />
              <a href="https://bezalel.co/blogs/bezalel-blog/how-to-use-the-latitude-iphone-6-6s-universal-wireless-charging-case-with-your-lexus-vehicle-s-in-car-wireless-charger" title="information and user instructions for Lexus vehicles." target="_blank" rel="nofollow noopener noreferrer" class="linkcolor">User instructions for Lexus vehicles</a>.
            </p>
            
            <h3>Q. 通常對於一些較大的手機，汽車內建的無線充電板空間過小，導致無法順利充電。哪些車型提供較大無線充電板空間？</h3>
            <p class="last">以下是有提供無線充電板空間的車型，可容納更大的iPhone（iPhone 6 Plus / 6s Plus，iPhone 7 Plus，iPhone 8 Plus）：2016-2018 Toyota Tocama、2018 Honda Odyssey本田奧德賽、2016-17 BMW 7 series(寶馬7系列)、2017年BMW 6 series (寶馬6系列X3，X5)等車款。<br />請參考 <a href="https://bezalel.co/blogs/bezalel-blog/cars-with-wireless-charging-that-work-with-the-latitude-case" title="more information" target="_blank" rel="nofollow noopener noreferrer" class="linkcolor">Click here for more information</a>.</p>
            <p class="last">另外要注意的是，iPhone 6 Plus，iPhone 6s Plus和iPhone 7 Plus將需要BEZALEL倍加能的無線充電殼，以便您的手機能夠在車上或任何無線充電器中進行無線充電。</p>
      </div>
      
      <!--充電功率 -->
      <div class="support-description" style="display: none; padding:50px">
          <h3>Q. Futura X 的充電效率如何？</h3>
          <p class="last">Futura X具有15W無線充電功能，可提供具快速無線充電的手機充電，比起標準5W無線充電器快上許多。另外，快速充電電源變壓器是快速無線充電所必需的，例如， QC 2.0 / 3.0 9V / 1.67A，9V / 2A，12V / 2.1A電源變壓器</p>
          <h3>Q. 手機可以橫向或縱向放置Futura X上進行無線充電嗎？</h3>
          <p class="last">當然可以，您可以選擇兩種方式，平放Futura X或用支架將充電板立起。當您的手機在進行無線充電時，您一樣可以查看訊息。</p>
          <h3>Q. Prelude的充電效率如何？</h3>
          <p class="last">Prelude無線充電的功率為10Ｗ，有些其他廠牌的手機殼可能會使充電速率稍微下降。Prelude無線充電器還可以透過USB端口進行18W的充電功率（相較無線充電提升50%）。</p>
          <h3>Q. Prelude可以同時充電兩個設備嗎？</h3>
          <p class="last">可以的。Prelude除了可以無線充電一台裝置外，還可以透過USB端口同時充電另一台裝置。</p>
      </div>

      <!--概觀 -->
      <div class="support-description" style="display: none; padding:50px">
          <h3>Q. 什麼是“QI” ?</h3>
          <p class="last">QI是國際無線充電的標準規範。它由Wireless Power Consortium於2008年所發明，用於短距離（最大4厘米或1.6英寸）的電力傳輸。這也是BEZALEL倍加能的Prelude無線充電器中使用的技術標準。 Qi被解釋為一種能量傳遞方式又可以解釋為“自然能量”或“能量流”。</p>
          <h3>Q. 無線充電與運作方式</h3>
          <p class="last">無線充電（也稱作為感應充電）是為攜帶型電子產品一種方便、輕鬆的供電方式。它使用電磁場代替電線在充電站和設備之間傳輸電力，如此一來消除對電線的需求。這是一種經過驗證的概念，多年來一直用於無線充電的家用電器，如電動牙刷（透過牙刷座進行無線充電）</p>
          <p class="last">BEZALEL倍加能的Prelude無線充電器符合國際無線充電標準，可以使用於目前市場上大部分有提供無線供電功能的電子產品。Prelude支援具Qi無線充電功能所有的設備如智慧型手機、智慧手錶或平板電腦。 不支援Qi的設備(例如 iPhone 6 或7)則須透過另外的無線充電殼來支援無線充電。</p>
          <h3>Q. 無線充電方便的地方</h3>
          <p class="last">充電線對目前市場上絕大部分的電子產品來說都是一個麻煩的負擔。智慧型手機，智慧型穿戴設備或平板電腦等，這些提倡便利、輕巧以及攜帶方便的產品還是免不了充電時的不便。BEZALEL倍加能決心改變這種情況，透過無線充電，讓使用者體驗到這些電子產品真正的便利之處。Prelude提供的功能，讓您不再被充電線所綑綁，無需再找設備上的充電孔。BEZALEL倍加能目前致力於讓無線充電無處不在，成為無線熱點，將讓您能夠在越來越多的公共場所無線充電。</p>
          <p class="last">想像一下，當您在辦公室或任何機場、酒店休息或喝杯咖啡時，只要把手機放在桌子上就可以自動為您的手機充電，如果這功能也落實在每間咖啡廳，那真的是非常的便利。我們努力將產品推向運輸工具，不論是汽車、火車、飛機以及各種大眾運輸工具，促使無線充電在生活中更加的普及。無線充電具備卓越的便利性和充電效率，因為不用透過充電線，所以降低電能在傳輸過程中的能量損耗。</p>
      </div>

      <!--保固及退貨 -->
      <div class="support-description" style="display: none; padding:50px">
          <h3>一年保固期限</h3>
          <p class="last">點選查看【 <a href="/pages/warranty" title="商品保固指南" class="linkcolor">商品保固指南</a> 】。</p>
          <ul>
            <li>一年內，該產品在設計、裝配、材料或工藝方面沒有損壞或瑕疵的情況下，BEZALEL倍加能將免費維修或更換任何有缺陷的產品（不包含產品寄送費用）。BEZALEL倍加能具停產任何產品的權利，且不具通知個人或組織的義務。另外也不提供保固期限外的維修或更換已停產的產品。如保固期限內無法維修或更換產品（例如：產品已停產），BEZALEL倍加能將會提供退款或提供與原購買金額相同之產品（依原始購買收據上的金額為主）。此保固不包括因正常磨損、丟失或被盜造成的損壞。</li>
            <li>更換或維修服務後，不會延長保固時間，依原始購買產品之保固時間為主。</li>
            <li>如有發生任何問題請在收到商品後的7天內聯繫我們，保固服務聯繫方式 <i class="fa-regular fa-hand-point-right"></i><a href="https://reurl.cc/0xoxGA" target="_blank" title="BEZALEL倍加能官方LINE" rel="nofollow noopener noreferrer" class="linkcolor">加入官方LINE</a>。<br />您需要提供產品購買時間、購買地點以及購買收據。</li>
            <li>BEZALEL倍加能保留檢查損壞產品的權利，且運費及所有檢查相關費用將完全由購買方承擔。</li>
            <li>本保固不包含產品直接或間接造成之損害，或衍生性之損失。除本保固所述之法定權益外，根據當地國家規定處理，您可能尚具有其他權益。若需要於非原購買國家進行產品保固，請提供原購買地發票證明，可根據您所在的國家情況享有保固服務。</li>
          </ul>

          <h3>退貨規範</h3>
            <p class="last">點選查看【 <a href="/pages/return" title="退換貨Q&amp;A" class="linkcolor">退換貨Q&amp;A</a> 】。<br />BEZALEL倍加能希望我們的消費者能愉快的購買及使用我們的產品，我們很願意為我們的產品負責。如果在消費過程中有任何問題，我們非常樂意提供協助。</p>
            <p class="last">退貨注意事項</p>
          <div class="M_service space-m-b-20">
            <ol>
                <li>請於收到商品後7天內提出申請，14天內寄回，超出期限不受理。</li>
                <li>申請退款者，須將商品原封寄回含所有配件（充電線、變壓器及說明文件），若不符合條件，BEZALEL倍加能可拒絕退貨或扣除額外費用之權利。</li>
                <li>BEZALEL倍加能沒有換貨升級的服務，故不提供更換其他產品。</li>
                <li>在更換或維修後，保固時間不延長，依原始購買產品之保固時間為主。</li>
                <li>退貨後的退款方式將以當初您購買產品時的付費方式為退款途徑（退款不含運費）</li>
                <li>只有在BEZALEL倍加能官方網站購買的商品才能退回BEZALEL倍加能。通過其他零售商購買的產品必須按照各零售商的退貨和退款政策進行退貨。</li>
            </ol>
          </div>
          <h3>退貨步驟：</h3>
            <p>簡單且不麻煩</p>
            <ul>
                <li>步驟一：聯繫我們 <i class="fa-regular fa-hand-point-right"></i><a href="https://reurl.cc/0xoxGA" target="_blank" title="BEZALEL倍加能官方LINE" rel="nofollow noopener noreferrer" class="linkcolor">官方LINE</a> ，並簡單描述問題與狀況</li>
                <li>步驟二：等待我們技術團隊的回覆（通常24小時內，遇到週末或假日可能延長），我們將提供詳細的退貨說明。</li>
            </ul>

        
          <h3>退貨後需要多久才能收到退款：</h3>
            <p class="last">收到退貨後，我們將在七個工作日內為您處理。確認退回商品內容無誤後，您將收到一封電子郵件，確認您的退款已以原始付款方式處理中。退款可能需要幾天的時間才能退到您指定的帳戶中。<br />請注意 : 我們不退還您寄回的運費。</p>
          
      </div>

      <!--寄送方式 -->
      <div class="support-description" style="display: none; padding:50px">
          <p>請點選查看【 <a href="/pages/delivery" title="運送資訊" class="linkcolor">運送資訊 </a>】。<br />在收到訂單與並付款完成後，產品會在1-2個工作天以郵寄方式寄出。<br /> 如果有延誤，您將在下訂單時或通過電子郵件收到通知。<br>關於“預訂”購買的說明：預訂商品將在系統估計的日期發貨，訂購兩個以上的產品有可能會有不同的寄送時間。</p>
      </div>
    </div>
  </div>
</section>

<!-- 點選按鈕跳內文 -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var boldTitles = document.querySelectorAll('.bold');
    var technologyDescriptions = document.querySelectorAll('.support-description');
    
    for (var i = 0; i < boldTitles.length; i++) {
      boldTitles[i].addEventListener('click', toggleDescription.bind(null, i));
    }

    function toggleDescription(index) {
      for (var i = 0; i < technologyDescriptions.length; i++) {
        if (i === index) {
          technologyDescriptions[i].style.display = 'block';
        } else {
          technologyDescriptions[i].style.display = 'none';
        }
      }
    }
  });
</script>


<!-- 點選按鈕保留底色 -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var dropdownItems = document.querySelectorAll('.dropdown-item');
    
    for (var i = 0; i < dropdownItems.length; i++) {
      dropdownItems[i].addEventListener('click', toggleActiveClass);
    }
  
    function toggleActiveClass(event) {
      for (var i = 0; i < dropdownItems.length; i++) {
        dropdownItems[i].classList.remove('active');
      }
      event.currentTarget.classList.add('active');
    }
  });
</script>


