<section class="full-width page-header clearfix">
  	<div class="container container-padding">
      	<h1 class="display-title">{{ page.title }}</h1>
  	</div>
</section>

<section class="full-width rte clearfix"> 
    <div class="container container-bottom-padding clearfix max-width-900">
    	{{ page.content }}
  	</div>
</section>
