<section class="full-width careers-hero page-hero">
</section>

<section class="full-width white-bg careers-intro">  
	<div class="container container-padding clearfix">      
      	<h1 class="display-title"><span class="sr-only">BEZALEL 倍加能 | 無線充電</span>Join Bezalel</h1>
  	</div>  
</section>

<section class="full-width white-bg overview-careers-intro">  
	<div class="container container-padding clearfix">
    	<h2 class="display-title"><span class="sr-only">BEZALEL 倍加能 | 無線充電</h2>
      	<a class="outline-btn general-cta text-center" href="https://www.104.com.tw/company/1a2x6bl726?jobsource=jolist_c_relevance" target="_blank" data-analytics-title="瀏覽工作機會" rel="noreferrer noopener nofollow">瀏覽工作機會</a>      
      	<h3 class="sr-only">BEZALEL 倍加能 | 無線充電</h3>
  	</div>
</section>