<section class="full-width page-header clearfix">
  	<div class="container container-padding">
      	<h1 class="display-title">{{ page.title }}</h1>
  	</div>
</section>

<section class="full-width rte clearfix"> 
    <div class="container container-bottom-padding clearfix max-width-900">
    	{{ page.content }}
  	</div>
</section>

<style>
  .main-content {
    padding-top: 120px;
    background-color: #EAEAEA;
  }

  h1.display-title {
    font-size: 30px;
    color: #707070;
  }

  .title{
    margin-left:400px;
  }

  .rte ol, .rte ul {
    margin: 0 0 0px 0px;
    padding: 0;
    list-style-position: inside;
  }

  .step_Boundary {
    margin-left: 400px;
  }
  
  .container{
    max-width: 1920px;
    padding-inline: 0px;
  }

  .M_content_edit .M_conedit_part, .faqs{
    width: 100%;
    padding-inline: 0px;
    padding-top: 20px;
  }

  .button_connection {
    display: inline-block;
    width: 140px;
    background-color: #727272;
    color: white;
    text-decoration: none;
    border-radius:100px;
    border: none;
    outline: none;
    transition: background-color 0.3s;
    padding: 10px;
    text-align: center;
    font-size:16px;
    margin-top:45px;
  }

  p,li{
    font-size:16px;
  }

  .space-m-t-60 {
    margin-top: 45px;
  }

  .space-m-b-30 {
    margin-bottom: 0px;
  }

  .warranty_Boundary, li {
    margin-left: 400px;
    margin-right: 400px;
  }
  
@media(max-width:1024px){
  .warranty_Boundary, li {
    margin-left: 60px;
    margin-right: 60px;
  }
    
  .M_content_edit .M_conedit_part, .faqs{
    width: 100%;
    padding-inline: 60px;
    padding-top: 20px;
  }

  .title{
    margin-left:60px;
  }

  .space-m-t-60 {
    margin-top: 45px;
  }
  .step_Boundary {
    margin-left: 60px;
  }

  .container-padding {
    padding: 70px 25px 45px;
  }
}

  @media(max-width:525px){
  .warranty_Boundary, li {
    margin-left: 20px;
    margin-right: 20px;
  }
    
  .button_connection {
    display: inline-block;
    width: 140px;
    background-color: #727272;
    color: white;
    text-decoration: none;
    border-radius:100px;
    border: none;
    outline: none;
    transition: background-color 0.3s;
    padding: 10px;
    text-align: center;
    font-size:16px;
    margin-bottom:0px;
    margin-top:45px;
  }
    
  .M_content_edit .M_conedit_part, .faqs{
    width: 100%;
    padding-inline: 20px;
    padding-top: 20px;
  }

  .title{
    margin-left:20px;
  }

  .space-m-t-60 {
    margin-top: 45px;
  }

  .step_Boundary {
    margin-left: 20px;
  }

  .container-padding {
    padding: 45px 25px 15px;
  }
}

</style>
