<section class="full-width video-hero">
  	<img src="{{ 'bezalel-charger-video-still.jpg' | asset_url }}" />
	<a href="http://www.youtube.com/watch?v=WtCtAjZnt_E?autoplay=1&showinfo=0&rel=0" class="video-popup"><span class="play-button"></span></a>
</section>
<section class="full-width white-bg video-product-intro">  
	<div class="container container-padding clearfix max-width-600">      
      	<h1 class="display-title">Feel the Pulse</h1>
      	<p>It's in the split-second decisions that bring life to our connections and create the stories of our lives. Whether at work, home, office or on&#8209;the&#8209;go, BEZALEL's vision for cutting the cord and staying connected is the ultimate rhythm to which its pulse&nbsp;beats.</p>
      	<p>With a wireless charging ecosystem created for the power&#8209;charging needs of our everyday mobile living, the mission of BEZALEL is wireless power anytime,&nbsp;anywhere.</p>
  	</div>
</section>